.team-page{
  padding: 2rem 0;
  &_title{
    text-align: center;
    background-color: var(--main-bg-color);
    max-width: 775px;
    margin: auto;
    color: var(--white-color);
    padding: .5rem 1rem;
    letter-spacing: 6px;
    font-size: 26px;
    @include media-query(medium){
      padding: 2rem;
      font-size: 40px;
    }
  }
  .container-team{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include media-query(large){
      margin: 4rem auto;
      max-width: 950px;
    }
  }
}