.white_section{
  gap: 3rem;
  .content{
    max-width: 625px;
    h3{
      background-color: var(--main-bg-color);
      color: var(--white-color);
      padding: .2rem 1rem;
      margin-bottom: 1rem;
    }
    // p{
    //   // font-size: 18px;
    // }
  }
}