.events-page{
  .container-events{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem 0;
    padding: 4rem 1rem;
    background-color: #F4F3F3;
    &.gray{
      background-color: #DADADA;
    }
    article,
    a.card-event{
      max-width: 950px;
      width: 100%;
      // margin: auto;
    }
  }
}