:root {
    // --main-bg-color: #826961;
    --main-bg-color-hover: #705b54;
    --second-bg-color: #b17820;
    --white-color: #fff;

    --main-bg-color: #51549A;
    --main-bg-color-transparent: #51539a96;
    --main-bg-color-hover: #BDB5A7;
    --second-bg-color: #BDB5A7;
    // --white-color: #fff;
}

// Variables para breakpoints
$breakpoint-xsmall: 400px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1380px;
$breakpoint-xxlarge: 2000px;
 

